DoctorAppointment/packages
DoctorAppointment/DoctorAppointment/bin
DoctorAppointment/DoctorAppointment_Skeleton/bin
DoctorAppointment/DoctorAppointmentUiTest/bin
DoctorAppointment/DoctorAppointmentUiTest/obj
DoctorAppointment/DoctorAppointmentUnitTest/bin
DoctorAppointment/DoctorAppointmentUnitTest/obj
