

@{
    ViewBag.Title = "Home Page";
}



    <div class="row" id="home">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <a href="/Appointment/MakeAppointment" class="btn btn-primary col-lg-4">Book Appointment</a>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
     </div>